.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: 0.3s;

    &.full-width-header {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);

        .shell {
            background-color: #fff;
            border: none;
        }

        .logo {
            &:hover {
                color: $red;

                >span {
                    color: $red;
                }
            }

            >span {
                color: $light-black;
                transition: 0.3s;
            }
        }

        .nav-utilities>ul>li>button {
            color: $light-black;

            &:hover,
            &.active {
                color: $red;
            }
        }
    }

    .shell {
        background: rgba(0, 0, 0, .4);
        border-radius: 5px;
        height: 85px;
        padding: 0 15px 0 25px;
    }
}

.logo {
    color: $red;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
        color: #fff;
    }

    >span {
        color: #fff;
    }
}

.nav-utilities>ul>li {
    margin: 0 10px;

    >button {
        display: block;
        transition: 0.3s;
        color: #fff;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border: none;
        box-shadow: none;
        outline: none;

        &:hover,
        &.active {
            color: $red;
        }
    }
}