.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: 0.3s;

    &.full-width-header {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);

        .shell {
            background-color: #fff;
            border: none;
            height: 50px;
        }

        .logo {
            &:hover {
                color: $red;

                >span {
                    color: $red;
                }
            }

            >span {
                color: $light-black;
                transition: 0.3s;
            }
        }

        .nav-utilities .nav-item {
            color: $light-black;

            &:hover,
            &.active {
                color: $red;
            }
        }

        .hamburger-menu span {
            background-color: $light-black;
        }
    }

    .shell {
        background: rgba(0, 0, 0, .4);
        border-radius: 5px;
        height: 85px;
        padding: 0 15px 0 25px;
        position: relative;
        transition: 0.3s;
    }
}

.logo {
    color: $red;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
        color: #fff;
    }

    >span {
        color: #fff;
    }
}

.nav-utilities>ul {
    display: flex;
    align-items: center;

    >li {
        margin: 0 10px;
    }
}

.nav-item {
    display: block;
    transition: 0.3s;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    outline: none;

    &:hover,
    &.active {
        color: $red;
    }
}

.hamburger-menu {
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 7px;

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        left: -4px;
        cursor: pointer;
        opacity: 0;
        z-index: 4;
        -webkit-touch-callout: none;

        &:checked {
            &~span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, 0px);
                background-color: rgba(0, 0, 0, 0.8);

                &:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }
            }

            &~ul {
                transform: translateX(0);
            }
        }
    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 3;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }

    ul {
        height: 100vh;
        width: 210px;
        background-color: #fff;
        right: 0;
        top: 0;
        position: fixed;
        padding-top: 80px;
        z-index: 1;
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        transform: translateX(100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;

        >li {
            margin: 15px 0;
            padding-left: 20px;
        }
    }

    .nav-item {
        color: $light-black;

        &:hover,
        &.active {
            color: $red;
        }
    }
}