.section-about {

    .shell {
        @include sm {
            flex-direction: column-reverse;

            .section-aside,
            .section-text {
                width: 100%;
            }
        }
    }

    .section-aside {
        width: 400px;
        background-color: $red;
        padding: 40px 30px;

        @include lg {
            width: 350px;
        }

        @include sm {
            padding: 30px;
        }

        @include xs {
            margin-left: -15px;
            width: calc(100% + 30px) !important;
            padding: 30px 15px;
        }

        >h4 {
            color: #fff;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .section-text {
        position: relative;
        padding: 80px 270px 0 50px;
        flex: 1 0;

        @include md {
            padding: 80px 0 0 50px;
        }

        @include sm {
            padding: 50px 0 35px;
        }

        >p {
            margin-top: 25px;
            line-height: 2;
            color: $gray;

            @include sm {
                margin-top: 10px;
            }
        }

        >img {
            position: absolute;
            right: -20px;
            bottom: 0;
            width: 300px;

            @include lg {
                width: 250px;
            }

            @include md {
                display: none;
            }
        }
    }
}

.form-about {
    margin-top: 20px;

    .form-group {

        &+.form-group {
            margin-top: 15px;
        }

        label {
            color: $light-white;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        input {
            height: 45px;
            width: 100%;
            border: 1px solid $light-white;
            border-radius: 2px;
            background-color: transparent;
            color: $light-white;
            font-size: 14px;
            font-weight: 400;
            padding: 6px 12px;

            &::-webkit-input-placeholder {
                /* Edge */
                color: $light-white;
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $light-white;
            }

            &::placeholder {
                color: $light-white;
            }
        }
    }

    .text-danger {
        color: #fff;
    }

    >button {
        width: 100%;
        height: 58px;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        background-color: #fff;
        border-radius: 2px;
        margin-top: 30px;
        border: none;
        transition: 0.3s;

        &:hover {
            color: $red;
            background-color: #f5f5f5;
        }
    }
}

.section-menu {
    padding: 100px 0;

    @include lg {
        padding: 80px 0
    }

    @include md {
        padding: 60px 0;
    }

    @include sm {
        padding: 50px 0;
    }

    .section-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.menu-column {
    width: 32%;
    background-color: #fcfcfc;
    border: 1px dashed #e6e6e6;
    border-radius: 5px;
    padding: 50px 20px;
    margin-top: 30px;
    position: relative;

    @include md {
        width: 48%;
    }

    @include sm {
        width: 100%;
        margin-top: 25px;
    }

    &:before,
    &:after {
        @include pseudo-element;
        top: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        opacity: 0.6;
    }

    &:before {
        background-image: url('../img/icons/vegetable.svg');
        left: 10px;
    }

    &:after {
        background-image: url('../img/icons/champagne-glass.svg');
        right: 10px;
    }

    >h5 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        color: $light-black;
    }
}

.menu-product {
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: 0.3s;

    @include sm {
        align-items: center;
    }

    &:hover {
        &:after {
            border-color: $red !important;
            opacity: 0.75;
        }

        .product-content {
            >p {
                &:first-child {
                    >span:first-child {
                        color: $red;
                    }
                }
            }
        }
    }

    &+.menu-product {
        margin-top: 50px;
    }

    &:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: -26px;
        transform: translateX(-50%);
        border: 1px dashed #e6e6e6;
        width: 100%;
        transition: 0.3s;
    }

    >img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.product-content {
    padding-left: 20px;
    position: relative;

    >p {
        font-size: 17px;
        line-height: 1.5;

        &:first-child {
            font-weight: 500;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &:last-child {
            font-weight: 400;
            margin-top: 10px;
            text-transform: capitalize;
        }

        >span {
            display: block;
            transition: 0.3s;

            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                font-weight: 700;
                color: $red;
            }
        }
    }
}

.section-features {
    background-image: url('../img/cuts/chefs-cooking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    position: relative;

    @include xs {
        height: 350px;
    }

    h5,
    h3 {
        text-align: center;
    }

    h5 {
        color: $light-white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }

    h3 {
        font-weight: 900;
        color: #fff;
        font-size: 40px;

        @include lg {
            font-size: 36px;
        }

        @include md {
            font-size: 32px;
        }
    }

    .shell {
        position: relative;
        z-index: 2;
    }
}

.section-testimonials {
    background-image: url('../img/cuts/food-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0;

    @include lg {
        padding: 80px 0;
    }

    @include md {
        padding: 60px 0;
    }

    .section-head,
    .section-body {
        position: relative;
        z-index: 2;
    }

    .section-head {
        .section-title {
            color: #fff;
        }
    }

    .carousel {
        width: 470px !important;
        margin: 0 auto;
        padding-bottom: 60px;

        @include xs {
            width: 100% !important;
        }

        .slide {
            background-color: transparent;
        }
    }

    .carousel-slide {
        p {
            font-size: 20px;
            line-height: 1.4;
            color: #fff;
            margin: 60px 0 20px 0;

            @include md {
                margin: 40px 0 20px 0;
            }
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
    }
}

.section-team {
    background-color: #fafafa;
    padding: 100px 0;

    @include lg {
        padding: 80px 0
    }

    @include md {
        padding: 60px 0;
    }

    @include sm {
        padding: 50px 0 65px 0;
    }

    .section-body {
        margin-top: 50px;

        @include sm {
            flex-flow: row wrap;
            margin-top: 25px;
        }

        @include xs {
            margin-top: 20px;
        }
    }
}

.chef {
    width: 23%;
    background-color: #fff;
    position: relative;
    z-index: 1;

    @include sm {
        width: 48%;
    }

    @media only screen and (min-width: 577px) and (max-width: 768px) {
        &:nth-child(n+3) {
            margin-top: 60px;
        }
    }

    @include xs {
        width: 100%;

        &:nth-child(n+2) {
            margin-top: 60px;
        }
    }

    &:before,
    &:after {
        @include pseudo-element;
        bottom: -15px;
        left: 20px;
        width: 40px;
        height: 20px;
        background: #e52b34;
        z-index: -1;
    }


    &:before {
        transform: skewY(20deg);
    }

    &:after {
        transform: skewY(-20deg);
    }

    >h5,
    >p {
        padding: 0 15px;

        @include xs {
            text-align: center;
        }
    }

    >h5 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 600;
        color: $light-black;
    }

    >p {
        background-color: #fff;

        &:nth-child(3) {
            font-size: 14px;
            color: rgba(0, 0, 0, .3);
            display: block;
            margin-top: 5px;
        }

        &:last-child {
            color: #808080;
            line-height: 1.5;
            margin-top: 15px;
            padding-bottom: 20px;
        }
    }

    img {
        @include xs {
            display: block;
            width: 230px;
            margin: 0 auto;
        }
    }
}

.section-callout {
    background-color: $red;
    padding: 50px 0;

    >h3 {
        font-weight: 700;
        color: #fff;
        font-size: 40px;

        @include lg {
            font-size: 36px;
        }

        @include md {
            font-size: 32px;
        }
    }

    >a {
        border: 1px solid #fff;
        border-radius: 2px;
        display: inline-block;
        text-transform: capitalize;
        color: #fff;
        padding: 6px 12px;
        margin-top: 20px;
        font-size: 18px;
        transition: 0.3s;

        &:hover {
            background-color: #fff;
            color: $red;
        }
    }
}