.home {
    .intro {
        height: 100vh;
        min-height: 700px;

        .carousel .control-dots {
            @media (min-width: 960px) {
                bottom: 60px;
            }

            .dot {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.intro {
    >.carousel-root {
        height: 100%;

        >.carousel {
            height: 100%;

            >.slider-wrapper {
                height: 100%;
            }
        }
    }
}

.intro-text {
    color: #fff;

    >h1 {
        font-family: $Dancing;
        font-size: 135px;
        font-weight: 400;
        color: $light-white;
        text-transform: uppercase;
    }
}

.intro-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.intro-subheading {
    font-size: 16px;
    color: $light-white;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 9px 12px;
    position: relative;
    z-index: 0;
}