.section-menu {
    margin: 70px 0 90px 0;

    .section-head {
        text-align: center;
    }

    .section-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.menu-column {
    width: 32%;
    background-color: #fcfcfc;
    border: 1px dashed #e6e6e6;
    border-radius: 5px;
    padding: 50px 20px;
    margin-top: 30px;

    >h5 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        color: $light-black;
    }
}

.menu-product {
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: 0.3s;

    &:hover {
        &:after {
            border-color: $red !important;
            opacity: 0.75;
        }

        .product-content {
            >p {
                &:first-child {
                    >span:first-child {
                        color: $red;
                    }
                }
            }
        }
    }

    &+.menu-product {
        margin-top: 50px;
    }

    &:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform: translateX(-50%);
        border: 1px dashed #e6e6e6;
        width: 100%;
        transition: 0.3s;
    }

    >img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.product-content {
    padding-left: 20px;
    position: relative;

    >p {
        font-size: 17px;
        line-height: 1.5;

        &:first-child {
            font-weight: 500;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &:last-child {
            font-weight: 400;
            margin-top: 10px;
            text-transform: capitalize;
        }

        >span {
            display: block;
            transition: 0.3s;

            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                font-weight: 700;
                color: $red;
            }
        }
    }
}